.houseSetting {
    background-color: #FFFAE6; /* Light background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    
}

.houseSetting h1 {
    color: rgb(0, 35, 121); /* Dark blue color */
    font-size: 2em;
    margin-bottom: 20px;
}

.houseSetting h2 {
    color: rgb(255, 95, 0); /* Orange color */
    background-color: antiquewhite;
    width: 50%;
    font-size: 1.2em;
    margin: 10px 0;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.houseSetting h2:hover {
    color: #FF9F66; /* Light orange color */
}


/*settinh form */

.SettingForm{
    background-color: #FFFAE6; /* Light background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   margin-top:20px; 
   
}
.SettingForm h1{
    color: rgb(0, 35, 121); /* Dark blue color */
    font-size: 2em;
    margin-bottom: 20px;
}
.SettingForm  form{
    
    display: flex;
    justify-content: space-between;
color: rgb(255, 95, 0); /* Orange color */
    background-color: antiquewhite;
    width: 50%;

    margin: 10px 0;
    padding: 20px;
    border-radius: 10px;
    
    transition: color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.SettingForm  form label{
    font-weight: bold;
    font-size: 1.2em;
}

.SettingForm   input[type="text"],
.SettingForm   input[type="email"],
.SettingForm  input[type="tel"],
.SettingForm  input[type="password"],
.SettingForm   input[type="date"] {
    width: 400px; /* Set width of input fields */
    height: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
}


.SettingForm button {
    width: 100px;
  height: 50px;
  padding: 10px;
  margin-left: 20px;
  background-color: orange;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease; 
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}



/*drop message */

.dropdown-message {
    position: fixed;
    top: 1%;
    right: 20px;
    background-color: #4caf50;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  .dropdown-message p {
    margin-bottom: 10px;
  }
  
  .dropdown-message button {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-message button:hover {
    text-decoration: underline;
    color: #fff;
  }
  
  