@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --font-color: rgb(78, 78, 78);
  --secandary-font-color:rgb(144, 144, 144);
  --main-font:"Poppins", sans-serif;
}

body{
  box-sizing: border-box;
  margin: 0;
  badding:0;
  font-family: "Poppins", sans-serif;

}

.app{
  margin: 0 auto;
  width: 88%;
}
@media (max-width: 1700px) {
  .app{
    margin:0;
    width: 100%;
  }
}
.nav-style {
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
  line-height:21px;
  color: var(--font-color);
  margin: 30px;
}

.nav-style ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.nav-style  ul li {
  margin: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;  
}


.nav-style a {
  text-decoration: none;
  color:inherit;
  height: 100%;
  margin-bottom: 10px; 
  
}

.nav-style a::before{
  content: "";
  position: absolute;
  left:0;
  bottom:-10px;
  width: 0;
  background-color: rgb(0, 125, 204);
  height: 4px;
  transition: width 0.4s ease-in-out;
}
.nav-style a.active::before  {
  width: 100%;
  right: 0;
  
}

.nav-style a.active {
  color: rgb(0, 125, 204);
}