
.box{
    display: flex;
    align-items: center;
    font-family: var(--main-font);
    
}
.box img{
    max-width: 100px;
    height: 100px;
    border-radius: 50%;
}
.text-box h1{
    font-weight: 400;
    color: var(--secandary-font-color);
    margin: 0;
    font-size: 16px;
    
}


.text-box p{
    margin: 0;
    font-size: 14px;
    
    
}
.box-container .left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}

.box-container{
display: flex;
gap: 10px;
justify-content: center;
width: fit-content;
}
.checklist{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.checklist p{
    margin: 0;
    margin-top: -15px;
    font-size: 16px;
    font-weight: bold;
}


.inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 01;
    max-height: 83%;
    margin-bottom: 20px;
    
    
    align-items: center;
}
.custom-radio {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    margin-top: -19px;
  }
  
  .custom-radio input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    
  }
  
  .checkmark {
    position: absolute;
    top: -13px;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .custom-radio input[type="radio"]:checked + .checkmark:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(7, 116, 249);
    border-radius: 10%;
  }
  