.tbox{
    min-width: 300px;
    min-height: 100px;
    border: solid 1px rgb(144, 144, 144);
    padding-right: 20px;
    border-radius: 5px;
    position: sticky;
    z-index: 1000;
    right: 100px;
    top: 10px;
   
    padding-top: 20px;
    margin: 0;

    
    background-color: white;
    
}
.tbox ul{
    font-weight: 400;
    font-size: 20px;
    color: black;
    line-height: 2rem;
}

.tbox ul li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.tbox ul li:nth-child(5) {
    border-top:solid 1px black ;
    border-bottom:solid 1px black ;
    
  }
  .tbox ul li:last-of-type{
    font-weight: bold;
  }

  .tbox button{
    width: 100%;
    height: 40px;
    
    border: none;
    font-weight: 400;
    font-size: 20px;
    background-color: rgb(193, 155, 118);
    color: white;
    cursor: pointer;
  }
  .tbox .guestselect{
    margin-left: 10px;
  }